*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    z-index: 100;
    position: sticky;
    top:0px;
    left: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.224);
    /* background-color: blueviolet; */
    background-image: url('babyback.jpg');
}
/* #nav{
    z-index: 100;
    position: sticky;
    top:0px;
    left: 0px; */
/* } */
#logo{
    width: 90px;
    height: 50px;
    /* margin-top: 10px; */
    margin-left: 70px; 
    border-radius: 100px;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
}
#links li{
    list-style: none;
    padding: 0 40px;
    font-size: 20px;
}
#links li a{
    font-family: 'Neucha';
    font-weight: 1000;
    text-decoration: none;
    /* transition: 0.7s ease-in-out; */
}
#links li a:hover,#links li a.active{
    border-bottom: 3px solid yellow;
    
}
#aboutbg{
    height: 550px;
    background-image: url('https://thumbs.dreamstime.com/z/baby-background-blue-color-clothes-accessories-newborn-boy-blue-wooden-table-top-down-frame-baby-background-blue-color-167529237.jpg');
    background-size: cover;
}
#des{
    position: absolute;
    left: 111px;
    top: 120px;
    /* font-size: 72px; */
    background-color: rgb(58 78 147);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 10px 10px 20px black;
}
#des h1{
    font-size: 72px;
    color: rgb(250, 213, 49);
}
#des img{
    width: 174px;
    height: 100px;
    border-radius: 50px;
}
#des div{
    width: 500px;
    height: 200px;
    font-size: 21px;
    color: rgb(115, 248, 255);
}
#main{
    padding: 20px;
    /* background-image: url("https://i.pinimg.com/736x/87/a2/38/87a238a27c0c472f649ba4a46e96176e.jpg"); */
    /* background-image: url('https://content.wepik.com/statics/5741985/conversions/preview-page0-thumb.jpg'); */
    /* background-size: cover; */
}
#title{
    font-size: 50px;
    text-align: center;
    margin:20px 0px;
    background-image: url('https://img.freepik.com/free-vector/flat-abstract-doodle-background_23-2149315773.jpg?w=2000');
    /* background-size: cover; */
    color: rgb(0, 10, 87);
}
#outerbox{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://img.freepik.com/free-vector/flat-abstract-doodle-background_23-2149315773.jpg?w=2000');
    background-size: cover;
}
#address{
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    border-radius: 40px;
    /* background-image: url('https://img.freepik.com/free-vector/flat-abstract-doodle-background_23-2149315773.jpg?w=2000'); */
    background-size: cover;
}
#address h1{
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}
#address h3{
    font-size: 20px;
}
#address p{
    font-size: 17px;
}
#location img{
    width: 600px;
    border-radius: 40px;
    border: 2px solid black;
}
#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(187, 0, 255);
    height: 127px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);
}
#newsletter h1{
    font-size: 33px;
    color: rgb(246, 255, 0);
}
#newsletter p{
    font-size: 20px;
    color: white;
}
#newsletter p span{
    color: rgb(4 4 112);
}
#newsletter input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-size: 17px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 5px 5px 10px black;
}
#newsletter button{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgb(4 4 112);
    color: white;
    font-size: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 5px 5px 10px black;
}
#newsletter button:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}